{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "settings": {
    "react": {
      "version": "16.13.1"
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "react/destructuring-assignment": "warn",
    "react/forbid-prop-types": "off",
    "brace-style": [
      "error",
      "stroustrup"
    ],
    "no-underscore-dangle": "off",
    "prefer-promise-reject-errors": "off",
    "import/no-unresolved": "off",
    "no-unused-vars": "warn",
    "max-len": [
      1,
      {
        "code": 120,
        "tabWidth": 2,
        "comments": 150
      }
    ],
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": [
      0
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ],
    "no-mixed-spaces-and-tabs": [
      "warn",
      "smart-tabs"
    ],
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ]
  }
}